@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.header {
  background-color: transparent;
  backdrop-filter: blur(20px);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 10%;
  /* background-color: salmon; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logo {
  font-size: 25px;
  color: #031540;
  text-decoration: none;
  font-weight: 700;
}

@media (max-width: 600px) {
  .logo {
    display: none
  }
}

.navbar a {
  font-size: 18px;
  color: white;
  text-decoration: none;
  font-weight: 500;
  margin-left: 35px;
  transition: 0.3s;
}

.navbar a:hover {
  color: aqua;
}

.home {
  height: 100vh;
  background: linear-gradient(-90deg, #031540 65%, #fff 35%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10%;
}

@media (max-width: 750px) {
  .home {
    flex-direction: column;
    background: #031540;
    justify-content: center;
    padding-bottom: 100px;
    height: auto;
  }
}

.home-img img {
  width: 400px;
  height: 400px;
  background: #031540;
  border-radius: 50%;
  border: 25px solid #fff;
}

@media (max-width: 500px) {
  .home-img img {
    margin-top: 100px;
    width: 250px;
    height: 250px;
    border: 15px solid #fff;
  }

  .contact {
    padding: none;
  }

  .home {
    padding: 0 5% 100px 5%;
  }

  .navbar a {
    margin-left: 0;
    margin-inline: 10px;
  }

  .header {
    padding-inline: 10px;
  }
}

.home-content {
  max-width: 600px;
  color: #fff;
  text-align: right;
}

.home-content h1 {
  font-size: 55px;
  line-height: 1.2;
}

.home-content h3 {
  font-size: 40px;
  color: transparent;
  -webkit-text-stroke: 0.5px #fff;
  background-image: linear-gradient(#00abf0, #00abf0);
  background-repeat: no-repeat;
  -webkit-background-clip: text;
  background-position: -410px 0;
  animation: animateText 6s liner infinite;
}

@media (max-width: 500px) {
  .home-content {
    text-align: left;
  }

  .home-content h1 {
    font-size: 35px;
  }

  .home-content h3 {
    font-size: 2opx;
  }

  .home-content p {
    font-size: 10px;
  }
}

@keyframes animateText {

  0%,
  95%,
  100% {
    background-position: -410px 0;
  }

  65%,
  85% {
    background-position: 0 0;
  }
}

.home-content p {
  font-size: 16px;
  margin-top: 20px;
}

.home-sci {
  margin: 25px 0 40px;
}

.home-sci a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: transparent;
  border: 2px solid #fff;
  border-radius: 50%;
  font-size: 20px;
  color: #00abf0;
  text-decoration: none;
  margin-left: 12px;
  transition: 40s;
}

.home-sci a:hover {
  background: #00abf0;
  color: #fff;
  border-color: #00abf0;
  box-shadow: 0 0 10px #00abf0;
}

.btn {
  padding: 12px 35px;
  background: #00abf0;
  border-radius: 40px;
  font-size: 17px;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 1px;
  box-shadow: 0 0 10px #00abf0;
  transition: 0.4s;
}

.btn:hover {
  box-shadow: none;
}

/* ABOUT US DESIGN */
.about {
  width: 100%;
  padding: 60px 0px;
  background-color: #73cbee;
  display: flex;
}

@media (max-width: 768px) {
  .main {
    flex-direction: column;
  }
}

.about img {
  height: 400px;
  width: 600px;
  padding-right: 20px;
}

@media (max-width: 618px) {
  .about img {
    height: 300px;
    width: 300px;
  }
}

.about-text {
  /* width: 550px; */
  /* text-align: center;
  align-items: center; */
}

.main {
  /* width: 1130px; */
  max-width: 95%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.about-text h1 {
  color: white;
  font-size: 80px;
  text-transform: capitalize;
  margin-bottom: 20px;
}

.about-text h5 {
  color: white;
  font-size: 25px;
  text-transform: capitalize;
  letter-spacing: 2px;
}

.about-text p {
  color: black;
  letter-spacing: 1px;
  line-height: 28px;
  font-size: 18px;
  margin-bottom: 20px;
}

button {
  background: #031540;
  color: white;
  text-decoration: none;
  border: 2px solid transparent;
  font-weight: bold;
  padding: 13px 30px;
  border-radius: 30px;
  transition: 0.4s;
}

button:hover {
  background: black;
  border: 2px solid #031540;
  cursor: pointer;
}


/* MY SKILLS DESIGNING */
.inner {
  padding-top: 20px;
  background-color: #333;
}

.header2 {
  text-align: center;
  color: #fff;
  padding: 1rem;
  position: relative;
}

.header2:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 4px;
  width: 100px;
  background-color: #2ecc71;
  border-radius: 2px;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  text-align: center;
  grid-gap: 1rem;
  padding: 1rem 80px;
  font-size: 1.2rem;
}

.skill-box {
  padding: 1rem;
  color: #ddd;
  cursor: pointer;
}

.skill-box:hover>.skill-title::after,
.skill-box:hover>.skill-title::before {
  width: 35px;
}


.skill-box:hover .img2 {
  transform: translateY(-10px);
}

.skill-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  position: relative;
}

.skill-title::after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 50%;
  width: 0;
  height: 4px;
  border-radius: 2px 0 0 2px;
  background-color: #2ecc71;
  transition: 0.5s;
}

.skill-title::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 4px;
  border-radius: 0 2px 2px 0;
  background-color: #2ecc71;
  transition: 0.5s;
}

.img2 {
  width: 90px;
  height: 90px;
  position: relative;
  border-radius: 45px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}

.img2::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 90px;
  background: rgba(100, 100, 100, 0.5);
  border-radius: 45px 0 0 45px;

}

.skill-title h3 {
  color: #fff;
  margin: 0.5rem;

}

.skill-icon {
  width: 50px;
  z-index: 2;
}

@media screen and (max-width:990px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
    padding: 2rem 50px;
  }
}

@media screen and (max-width:650px) {
  .container {
    grid-template-columns: 1fr;
  }

  .skill-box>p {
    font-size: 15px;
  }
}

/* CONTACT ME PAGE DESIGN */

@media (max-width: 500px) {
  .contact {
    padding: 10px 5%;
  }
}

.contact {
  background-color: lightgray;
  height: 100%;
  width: 100%;
  min-height: 10vh;
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  align-items: center;
  grid-gap: 6rem;
  padding: 40px 15%;
}

.img {
  max-width: 100%;
  width: 720px;
  height: auto;
  border-radius: 10px;
}

.contact-form h1 {
  font-size: 50px;
  color: black;
  margin-bottom: 20px;

}

@media (max-width: 500px) {
  .contact-form p {
    font-size: 10px;
  }

  .contact-form form .btn {
    width: 80px;
    font-size: 10px;
  }
}

.contact-form p {
  /* color: ; */
  letter-spacing: 1px;
  line-height: 28px;
  font-size: 1.1rem;
  margin-bottom: 2rem;
}

.contact-form form {
  position: relative;

}

.contact-form form input,
form textarea {
  width: 100%;
  padding: 17px;
  border: none;
  outline: none;
  background: #191919;
  color: white;
  font-size: 1.1rem;
  margin-bottom: 0.7rem;
  border-radius: 10px;
}

.contact textarea {
  resize: none;
  height: 200px;

}

.contact-form form .btn {
  display: inline-block;
  background: gray;
  color: black;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 600;
  border: 2px solid transparent;
  border-radius: 10px;
  width: 200px;
  transition: ease 0.20s;
  cursor: pointer;
}

@media (max-width:1570px) {
  section {
    padding: 80px 3%;
    transition: 0.2s;
  }

  .contact-form h1 {
    font-size: 50px;
  }

  .contact-form p {
    margin-bottom: 3rem;
  }
}

@media (max-width:1090px) {
  .contact {
    grid-gap: 2rem;
    transition: 0.3s;
  }
}

@media (max-width:1000px) {
  .contact {
    grid-template-columns: 1fr;
  }

  .contact-form {
    order: 2;
  }

  .map {
    max-width: 100%;
    width: 100%;
    height: auto;
    text-align: center;
    margin-bottom: 30px;
  }
}

@media (max-width: 500px) {
  .map iframe {
    width: 300px;
  }
}